html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section{
	padding: 20px 0;
}

.center-block{
	float: none;
}

.dropdown, .dropdown-menu {
  width: 100%;
}

.dropdown button:nth-child(1) {
  width: 85%;
}

.dropdown button:nth-child(2) {
  width: 15%;
  border-left: none;
}

table .btn span.glyphicon {    			
	opacity: 0;				
}
table .btn.active span.glyphicon {				
	opacity: 1;				
}